:root {
  --blue-color: #207398;
  --sky-blue-color: #51e1ed;
  --dark-blue-color: #03203c;
  --glow-color: #51ff0d;
}

body {
  background-color: var(--blue-color);
  margin: 0;
}
a {
  color: var(--dark-blue-color);
  text-decoration: none;
}
.container {
  max-width: 660px;
  margin: auto;
}
/*  */
.hero {
  margin-bottom: 3rem;
}
.hero-heading {
  text-align: center;
  color: var(--sky-blue-color);
}

/*  */

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  /* flex-wrap: wrap; */
}
label {
  font-size: larger;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--dark-blue-color);
  font-weight: 900;
}
input {
  margin-left: 2rem;
  border-radius: 2rem;
  padding: 0.4rem;
  width: 50%;
  margin: 1rem auto;
}
/*  */
.sumit-dob {
  margin-top: 1rem;
  width: 50%;
  margin: 0 auto;
}
/*  */
footer {
  text-align: center;
  margin: 3rem;
}
i {
  margin-left: 1rem;
}
/*  */
#output {
  background-color: var(--dark-blue-color);
  color: wheat;
  text-align: center;
  width: 70%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}
